# shell install scripts
**/*.run

# .NET objects
**/*.runtimeconfig.json
**/*.il
**/*.exe
**/*.exe.mdb

# L objects
**/*.?.lo
**/*.bc
**/*.lh

# test outputs
**/compiler.out
**/err.grep
**/err.sort
**/err.diff
**/warn.grep
**/warn.sort
**/warn.diff
**/il.out
**/il.diff
**/run.out

ghul-tests/**/*
lib/**/*
