# project specific
callgrind.out.*
log.txt
ghul
ghul/ghul
test_definitions
test_types
forward*.c
forward*.h
.nfs*
**/*.diff
**/*.test
**/*.sort
**/binary
**/*.mdb
**/junit.xml
**/out.il
**/*.runtimeconfig.json
**/test-output.json
**/test-conclusion.txt
**/test-results.md
tests/cases/**/failed

tester/tester
ghul-stable
source/build.l
source/ghuld.ghuld
ghul.s

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lh

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Emacs backups
*~
\#*\#

