# project specific
callgrind.out.*
perf.data*
log.txt
test_definitions
test_types
forward*.c
forward*.h
.nfs*
**/binary
**/*.mdb
**/junit.xml
**/out.il
**/*.runtimeconfig.json
**/test-output.json
**/test-conclusion.txt
**/test-results.md
**/mono_crash.*.*
**/out.txt

stage-2.il
stage-3.il
xx00
xx01
xx02
combined.txt
pick.txt
ghul.run
installer/aot-log.txt
output/**/*
tests/**/failed
tests/**/*.out
tests/**/*.grep
tests/**/*.diff
tests/**/*.sort

installer/root
installer/makeself*
installer/ghul.run

tester/tester
ghul-stable
source/build.l
source/ghuld.ghuld
ghul.s

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lh

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Emacs backups
*~
\#*\#
